/* body{
    background-color: blue;
}
h1{
    color:brown;text-align: center;border: 3px salmon;
}
p{
    color: springgreen;
    font-family:Georgia, 'Times New Roman', Times, serif;font-size: xx-large;

}
img{

    padding-left: 400px;
} */
.h1{
    color: steelblue;
}
#nik2{
    color:red;
}